<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820346256279-v5ahstm99mdcg72rspimhvhvi30vvv1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820346256279-v5ahstm99mdcg72rspimhvhvi30vvv1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAqewQJuk5qNfaq95DI_HCURCFnip2nB3U</string>
	<key>GCM_SENDER_ID</key>
	<string>820346256279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BuzyBeezLtd.sampleFcm</string>
	<key>PROJECT_ID</key>
	<string>buzybeez-184bf</string>
	<key>STORAGE_BUCKET</key>
	<string>buzybeez-184bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:820346256279:ios:9917b8897a942086</string>
	<key>DATABASE_URL</key>
	<string>https://buzybeez-184bf.firebaseio.com</string>
</dict>
</plist>